<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Zayo ROI Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller='mainController' ng-cloak>

    <table class="table">
      <tr>
        <th></th>
        <th>One-Time</th>
        <th>Monthly</th>
        <th></th>
      </tr>

      <tr ng-repeat="item in revenueItem">
        <td class="col-sm-3">{{item.name}}</td>
        <td class="col-sm-3">{{item.oneTime | currency}}</td>
        <td class="col-sm-3">{{item.monthly | currency}}</td>
        <td class="col-sm-3"><input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(item.name)"/></td>
      </tr>
    </table>

    <form class="form-horizontal" role="form" ng-submit="addRow()">
    	<div class="form-group">
    		<div class="col-md-4 col-sm-offset-4">
    			<input type="number" class="form-control" name="oneTime"ng-model="oneTime" placeholder="One-Time"/>
          <input type="number" class="form-control" name="monthly" ng-model="monthly" placeholder="Monthly"/>
          <input type="submit" value="Add Revenue Item" class="btn btn-primary"/>
    		</div>
    	</div>
    </form>

    <table class="table">
      <tr>
        <th></th>
        <th>One-Time</th>
        <th>Monthly</th>
        <th></th>
      </tr>

      <tr ng-repeat="expense in expenseItem">
        <td class="col-sm-3">{{expense.name}}</td>
        <td class="col-sm-3">{{expense.oneTime | currency}}</td>
        <td class="col-sm-3">{{expense.monthly | currency}}</td>
        <td class="col-sm-3"><input type="button" value="Remove" class="btn btn-primary" ng-click="removeExpenseRow(expense.name)"/></td>
      </tr>
    </table>

    <form class="form-horizontal" role="form" ng-submit="ExpenseAddRow()">
      <div class="form-group">
        <div class="col-md-4 col-sm-offset-4">
          <input type="number" class="form-control" name="ExpenseOneTime" ng-model="ExpenseOneTime" placeholder="One-Time"/>
          <input type="number" class="form-control" name="ExpenseMonthly" ng-model="ExpenseMonthly" placeholder="Monthly"/>
          <input type="submit" value="Add Expense Item" class="btn btn-primary"/>
        </div>
      </div>
    </form>

    <table class="table">

      <tr>
        <th></th>
        <th>One-Time</th>
        <th>Monthly</th>
        <th>Total</th>
      </tr>

      <tr>
        <td class="col-sm-3">Revenue</td>
        <td class="col-sm-3">{{oneTimeTotal() | currency}}</td>
        <td class="col-sm-3">{{monthlyTotal() | currency}}</td>
        <td class="col-sm-3">{{totalRevenue() | currency}}</td>
        <td></td>
      </tr>

      <tr>
        <td class="col-sm-3">Expense</td>
        <td class="col-sm-3">{{expenseOneTime() | currency}}</td>
        <td class="col-sm-3">{{expenseMonthly() | currency}}</td>
        <td class="col-sm-3">{{totalExpenses() | currency}}</td>
      </tr>

      <tr>
        <td></td>
        <td><strong>Contribution Profit</strong></td>
        <td>{{monthlyContributionProfit() | currency}}</td>
        <td>{{totalContributionProfit() | currency}}</td>
      </tr>

      <tr>
        <td></td>
        <td><strong>Contribution Margin</strong></td>
        <td></td>
        <td>{{contributionMargin()}}</td>
      </tr>
    </table>








   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
   <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js' type="text/javascript"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <script src='app.js'></script>
  </body>
</html>
